{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">Delete -
        <small>{{ object }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Kamu yakin mau hapus item {{ object }} ?
                </div>
                <input type="submit" class="btn btn-info" value="Ya, hapus" />
                <a class="btn btn-success" href="{% url 'product_list' %}">Tidak, tadi tidak sengaja pencet tombol hapus.</a>
            </form>
        </div>
    </div>
{% endblock %}