{% extends 'products/base.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Nama:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Harga:</strong> {{ object.price }}</li>
              <li class="list-group-item"><strong>Kategori:</strong> {{ object.kategori }}</li>
              <li class="list-group-item"><strong>Status:</strong> {{ object.status }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url 'product_edit' object.id_product %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url 'product_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
{% endblock %}